* {
  box-sizing: border-box;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before {
  display: table;
  content: " ";
}

[class^=col-]{
    padding-top: 10px;
    padding-bottom: 10px
}

@media (min-width: 992px) {
  .container {
    width: 950px;
    margin: 0 auto;
  }

  .col-4 {
    width: 33.33333333%;
    float: left;
    height: 33vh;
    background-color: gainsboro;
  }

  .col-4 > .tile{
    display: flex;
    justify-content: center;
    height: inherit;
    align-items: center;
  }
/* 
  .col-4 .tile{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver;
  } */
}

@media (max-width: 450px) {
  .col-4 {
    width: 100%;
  }
}
