* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
}

.row:before {
  display: table;
  content: " ";
}

button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  background: #72c3dc;
  border: none;
  box-shadow: 0px 3px 0px 0px #5197ad;
  border-radius: 9px;
  color: #fff;
}

button:active {
  background: #5197ad;
}

@media (min-width: 960px) {
  .container {
    width: 950px;
    margin: 0 auto;
  }

  [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 5rem;
  }

  .column {
    float: left;
  }

  #cards {
    width: 80%;
  }

  #buttons-area {
    padding: 1rem;
    width: 20%;
  }

  .col-4 {
    width: 33.33333333%;
    float: left;
    height: 30vh;
  }

  .col-4 > .card {
    display: flex;
    justify-content: center;
    height: inherit;
    align-items: center;
  }

  /* 
  .col-4 .card{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver;
  } */
  header {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #333;
  }
}

@media (max-width: 959px) {
  .col-4 {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-size: 5rem;
    text-align: center;
  }

  header {
    width: 100%;
    background: #333;
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
    color: #fff;
  }

  .columns {
    margin-left: -15px;
  }

  #cards {
    order: 2;
  }

  #buttons-area {
    display: flex;
    order: 1;
    justify-content: center;
  }

  button{
    margin-left: 0;
    width:33.333333%;
  }
}
